.footer {
  text-align: center;
  color: var(--secondary-color-2);
  background-color: var(--primary-color-2);
  font-size: var(--font-small);
  padding: 10px;
}

@media (width>=1024px) {
  .footer {
    background-color: var(--primary-color-3);
  }
}
