.home-right h1 {
  width: fit-content;
  font-size: var(--font-large);
  text-align: center;

  text-wrap: wrap;
}

.home-right p {
  max-width: 600px;
  text-wrap: wrap;
  font-size: var(--font-small);
}

@media (width<=600px) {
  .home-right h1 {
    margin: auto;
  }

  .home-right p {
    padding: 20px;
  }
}
