.projects-container {
  color: var(--secondary-color-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-heading {
  font-size: var(--font-medium);
  margin: 20px;
  width: 50%;
  text-align: center;
}

.projects-heading::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 10px;
  background-color: var(--secondary-color-1);
}

@media (width>=600px) {
  .projects-heading {
    margin-top: 100px;
  }
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
