:root {
  --primary-color-1: #111111;
  --primary-color-2: #222222;
  --secondary-color-1: #fff;
  --secondary-color-2: #cccccc;

  --border-radius: 20px;
  --animation: all 0.5s ease-in-out;
  background-color: var(--primary-color-1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 2000px;
}
