.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-heading,
.tech-stack-heading {
  width: 50%;
  text-align: center;
  font-size: var(--font-medium);
  text-transform: capitalize;
}

.about-heading::after,
.tech-stack-heading::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 5px;
  background-color: var(--secondary-color-2);
}

.about-content {
  width: fit-content;
  color: var(--secondary-color-3);
  flex-wrap: wrap;
  padding: 15px;
  text-align: justify;
  font-size: var(--font-small);
  margin-bottom: 10px;
}

.about-content div {
  margin: 10px;
}

.tech-stack-list {
  padding: 0;
  width: 100%;
  font-size: var(--font-medium);
  display: flex;
  justify-content: space-around;
}

@media (width>=968px) {
  .about-container .inner-container {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .about-left {
    width: 50%;
  }
}
